@import 'components/chameleonui-utils/body-em.styl';
@import 'components/chameleonui-utils/body-line-height.styl';
@import 'components/chameleonui-utils/clearfix.styl';
@import 'components/chameleonui-utils/font-size.styl';
@import 'components/chameleonui-utils/gradients.styl';
@import 'components/chameleonui-utils/height.styl';
@import 'components/chameleonui-utils/margin.styl';
@import 'components/chameleonui-utils/padding.styl';
@import 'components/chameleonui-utils/percentage.styl';
@import 'components/chameleonui-utils/px-rem.styl';
@import 'components/chameleonui-utils/roundto.styl';
@import 'components/chameleonui-utils/selectorize.styl';
@import 'components/chameleonui-utils/string-repeat.styl';
@import 'components/chameleonui-utils/text-overflow.styl';
@import 'components/chameleonui-utils/vendors.styl';
@import 'components/chameleonui-utils/visibility.styl';
@import 'components/chameleonui-utils/width.styl';
@import 'components/chameleonui-grid-core/grid-core.styl';
@import 'grid-responsive';

use-grid-fixed = true;
use-grid-responsive = false;

grid-row-width = 60em;

grid-responsive();